
.header__logo {
  position: absolute;
  left: 50%;
  margin-left: -51px;
  z-index: 2;
}

.header__navigation {
  min-height: 56px;
}


@media (min-width: $tablet-width) {
  .header__logo {
    z-index: 10;
  }
}

