.navigation {
  display: flex;
  justify-content: flex-end;

  &__burger-button {
    z-index: 10;
  }

  &__list {
    position: absolute;
    width: 100%;
    z-index: 5;
    transform: translateY(-110%);
    transition: all ease 0.3s;
  }

  &__list--activ {
    transform: translateY(0);
  }
}
