.navigation {
  display: flex;
  justify-content: flex-end;
}

.navigation__burger-button {
  z-index: 10;
}

.navigation__list {
  position: absolute;
  width: 100%;
  z-index: 5;
  transform: translateY(-110%);
  transition: all ease 0.3s;
}

.navigation__list--nojs {
  position: static;
  transform: translateY(0);
}

.navigation__list--activ {
  transform: translateY(0);
}


@media (min-width: $tablet-width) {
  .navigation__list {
    position: static;
    transform: translateY(0);
    z-index: 0;
  }
}
