.hash-tag {
  font-family: "PT Sans", sans-serif;
  margin: 0 0 33px 0;
}

.hash-tag__text {
  margin: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

@media (min-width: $tablet-width) {
  .hash-tag {
    margin: 0;
  }
}
