.social-facebook {
  margin: 0 6px 0 0;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: #81b3d2;
  }

  &__icon {
    height: 20px;
  }
}
