.social-twitter {
  margin: 0 6px 0 0;
}

.social-twitter__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.social-twitter__icon {
  height: 20px;
}

