.catalog-content__header {
  position: relative;
  padding: 0 0 45px 0;
  max-width: 458px;
  margin: 0 auto;

  &::before {
    position: absolute;
    display: block;
    content: "";
    height: 1px;
    width: 120%;
    right: -10%;
    background-color: #e5e5e5;
    top: 86.11%;
  }
}

.catalog-content__container {
  padding: 0 20px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .catalog-content__header {

    padding-bottom: 87px;

    &::before {
      display: none;
    }
  }

  .catalog-content__container {
    padding: 0 60px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-content__container {
    padding: 0;
  }

  .catalog-content__header {
    padding-bottom: 90px;
  }
}
