.catalog-photos {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-photos__image {
  max-width: 100%;

  img {
    min-width: 100%;
    object-fit: cover;
  }
}

@media (min-width: $tablet-width) {
  .catalog-photos {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .catalog-photos__image:first-child {
    grid-column: 1/3;

    img {
      max-height: 400px;
      object-position: bottom;
    }
  }

  .catalog-photos__image:last-child {
    grid-column: 1/3;
  }
}

@media (min-width: $desktop-width) {
  .catalog-photos {
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }

  .catalog-photos__image:first-child {
    grid-column: 1/4;

    img {
      max-height: 400px;
      object-position: bottom;
    }
  }

  .catalog-photos__image:last-child {
    grid-column: 1/4;
  }
}
