.catalog-header {
  font-family: 'PT Sans';
}

.catalog-header__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 25px 0;
}

.catalog-header__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}


@media (min-width: $tablet-width) {
  .catalog-header__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
