.catalog-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 52px 0 67px;
  background-color: #afd1e7;
  background-image: url('../../img/main-page/header-back-mobile.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

@media (min-resolution: 2dppx) {
  .catalog-top {
    background-image: url('../../../img/main-page/header-back-mobile@2x.jpg');
  }
}

@media (min-width: $tablet-width) {
  .catalog-top {
    background-image: url('../../../img/main-page/header-back-desktop.jpg');
    padding: 95px 0 117px;
  }

  .catalog-top__title {
    width: 456px;
  }

  @media (min-resolution: 2dppx) {
    .catalog-top {
      background-image: url('../../../img/main-page/header-back-desktop@2x.jpg');
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog-top {
    padding: 101px 0 120px;
  }

  .catalog-top__title {
    width: 459px;
  }
}