.main-catalog__header {
  position: relative;
  margin-bottom: 33px;
}

@media (min-width: $tablet-width) {
  .main-catalog__header {
    margin-bottom: 60px;
  }
}
@media (min-width: $desktop-width) {
  .main-catalog__header {
    margin-bottom: 100px;
  }
}