.photos-image {
  font-family: 'PT Sans';
}

.photos-image__photo {
  margin: 0 0 15px 0;
}

.photos-image__description {
  padding-top: 15px;
}

.photos-image__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}

.photos-image__autor {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 0 0 16px 0;
}

.photos-image__likes {
  display: block;
  position: relative;
  padding-left: 36px;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;

  &::before {
    display: block;
    content: '';
    position: absolute;
    width: 23px;
    height: 21px;
    background: url('../../img/catalog-page/like-icon.svg') no-repeat center;
    background-size: cover;
    left: 0;
    top: -4px;
  }
}

@media (min-width: $tablet-width) {
  .photos-image::before {
    display: none;
  }
  .photos-image__description {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    padding: 22px 20px 15px 20px;
    background-color: #f2f2f2;
    box-sizing: border-box;
  }

  .photos-image__title {
    grid-column: 1/1;
    grid-row: 1/1;
  }

  .photos-image__autor {
    grid-column: 1/1;
    grid-row: 2/2;
    margin: 0;
  }

  .photos-image__likes {
    grid-column: 2/3;
    grid-row: 1/3;
    margin: auto;
    margin-right: 0;
  }

  .photos-image__photo {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .photos-image {
    position: relative;
  }

  .photos-image__description {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
  }

  .photos-image__likes::before {
    background: url('../../img/catalog-page/like-icon-desctop.svg') no-repeat center;
  }
}
