.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__body {
  margin: 0;
  font-family: "PT Sans";
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.6);
}

.container {
  padding: 0 20px;
  box-sizing: border-box;
}

/*---------------Header-----------------*/
.header__logo {
  position: absolute;
  left: 50%;
  margin-left: -51px;
  z-index: 2;
}

.header__navigation {
  min-height: 56px;
}

@media (min-width: 768px) {
  .header__logo {
    z-index: 10;
  }
}
.navigation {
  display: flex;
  justify-content: flex-end;
}

.navigation__burger-button {
  z-index: 10;
}

.navigation__list {
  position: absolute;
  width: 100%;
  z-index: 5;
  transform: translateY(-110%);
  transition: all ease 0.3s;
}

.navigation__list--nojs {
  position: static;
  transform: translateY(0);
}

.navigation__list--activ {
  transform: translateY(0);
}

@media (min-width: 768px) {
  .navigation__list {
    position: static;
    transform: translateY(0);
    z-index: 0;
  }
}
.burger-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 56px;
  height: 56px;
  background-color: inherit;
  border: none;
}
.burger-button::before {
  content: "";
  background-color: #81b3d2;
  position: absolute;
  width: 22px;
  height: 4px;
  top: 17px;
  left: 17px;
  transition: all 0.3s ease;
}
.burger-button::after {
  content: "";
  background-color: #81b3d2;
  position: absolute;
  width: 22px;
  height: 4px;
  bottom: 17px;
  left: 17px;
  transition: all 0.3s ease;
}
.burger-button:hover {
  opacity: 0.6;
}
.burger-button:active {
  opacity: 0.3;
}

.burger-button__line {
  display: block;
  content: "";
  background-color: #81b3d2;
  width: 22px;
  height: 4px;
  transition: all 0.3s ease;
}

.burger-button--activ::before {
  background-color: #ffffff;
  transform: rotate(45deg);
  top: 26px;
}
.burger-button--activ::after {
  background-color: #ffffff;
  transform: rotate(-45deg);
  bottom: 26px;
}
.burger-button--activ .burger-button__line {
  opacity: 0;
}

@media (min-width: 768px) {
  .burger-button {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
.navigation-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #678fa8;
}

.navigation-menu__item {
  background-color: #81b3d2;
  box-shadow: 0 1 0 0 rgba(255, 255, 255, 0.2) inset;
  margin-bottom: 1px;
}

.navigation-menu__item:last-child {
  background: linear-gradient(180deg, #81b3d2 80%, rgba(177, 177, 177, 0.1) 100%);
}

.navigation-menu__link {
  display: block;
  width: 100%;
  padding: 17px 0 12px;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation-menu__link:hover {
  background-color: #669ec0;
}
.navigation-menu__link:active {
  color: #00000030;
}

@media (min-width: 768px) {
  .navigation-menu {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
  }

  .navigation-menu__item {
    background-color: #ffffff;
    flex: 0 1 20%;
    text-align: center;
  }

  .navigation-menu__item:not(:last-child) {
    margin-right: auto;
  }

  .navigation-menu__item:last-child {
    background: #ffffff;
  }

  .navigation-menu__link {
    color: #000000;
    font-size: 14px;
    line-height: 21px;
    padding: 18px 0 17px;
  }
  .navigation-menu__link:hover {
    color: #81b3d2;
    background-color: #ffffff;
  }
  .navigation-menu__link:active {
    color: #00000030;
  }

  .navigation-menu__link--current {
    color: #766357;
  }
}
/*-------------------Main----------------*/
.main-page__about {
  position: relative;
}

.main-page__header {
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .main-page__header {
    margin-bottom: 47px;
  }
}
@media (min-width: 1200px) {
  .main-page__header {
    margin-bottom: 59px;
  }
}
.about__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 35px 0;
  text-align: center;
  text-transform: uppercase;
}

.about__subtitle {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}

.about__triangle {
  display: block;
  width: 100%;
  position: absolute;
  object-position: center;
}

.about__header {
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .about__triangle {
    display: none;
  }

  .about__title {
    font-size: 21px;
  }

  .about__header {
    margin-bottom: 56px;
  }
}
@media (min-width: 1200px) {
  .about__header {
    margin-bottom: 45px;
  }
}
.description {
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description__container {
  padding: 0 20px;
  box-sizing: border-box;
}

.description__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 11px 0;
  text-transform: uppercase;
}

.description__number {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.description__subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  margin: 17px 0 0 0;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .description {
    padding: 0;
  }

  .description__container {
    max-width: 75%;
    padding: 0;
  }

  .description__title {
    font-size: 21px;
    margin-bottom: 17px;
  }

  .description__subtitle {
    font-weight: 400;
    margin-top: 30px;
  }
}
.advantages-city-list {
  list-style: none;
  padding: 25px 0 22px;
  margin: 0;
}

.advantages-city-list__item {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "icon title" "icon subtitle";
}

.advantages-city-list__image {
  grid-area: icon;
}

.advantages-city-list__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 7px 0 16px 8px;
  grid-area: title;
  text-transform: uppercase;
}

.advantages-city-list__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 0 0 30px 8px;
  grid-area: subtitle;
  text-transform: uppercase;
}

.advantages-city__list-container {
  min-width: 284px;
  padding: 0 18px;
}

@media (min-width: 768px) {
  .advantages-city__list-container {
    grid-column: -1/1;
    padding: 0;
  }

  .advantages-city-list {
    display: flex;
    justify-content: space-around;
    padding: 60px 0;
  }

  .advantages-city-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    flex-basis: 30%;
  }

  .advantages-city-list__image {
    width: 75px;
    height: 75px;
  }

  .advantages-city-list__title {
    text-align: center;
    margin: 26px 0 26px 0;
  }

  .advantages-city-list__subtitle {
    text-align: center;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .advantages-city-list__item {
    flex-basis: 25%;
  }

  .advantages-city-list__title {
    font-size: 21px;
  }
}
.advantages-image {
  max-width: 100%;
  overflow: hidden;
}
.advantages-image img {
  min-width: 100%;
  object-fit: cover;
  display: block;
}

.advantages-nature__description {
  padding: 39px 0 35px;
}

@media (min-width: 768px) {
  .advantages-nature {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 256px;
    grid-column: 1/4;
  }

  .advantages-nature__description {
    padding: 0;
    grid-column: 2/3;
    grid-row: 1/1;
  }

  .advantages-nature__image {
    grid-column: 1/2;
    grid-row: 1/1;
  }
}
.advantages-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 26px 0 0;
  background-color: #eeeeee;
  text-align: center;
}

.advantages-area__container {
  max-width: 315px;
}

.advantages-area::after {
  content: "";
  display: block;
  height: 1px;
  width: 88.75%;
  background-color: #d6d6d6;
}

.advantages-area__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 11px 0;
  text-transform: uppercase;
}

.advantages-area__number {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.advantages-area__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 17px 0 24px 0;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .advantages-area::after {
    display: none;
  }

  .advantages-area {
    padding: 0;
  }

  .advantages-area__title {
    font-size: 21px;
  }

  .advantages-area__subtitle {
    margin: 17px 0 0 0;
  }
}
.advantages-road {
  padding: 24px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  text-align: center;
}

.advantages-road__container {
  max-width: 292px;
}

.advantages-road::after {
  content: "";
  display: block;
  height: 1px;
  width: 88.75%;
  background-color: #d6d6d6;
}

.advantages-road__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 11px 0;
  text-transform: uppercase;
}

.advantages-road__number {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.advantages-road__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 17px 0 24px 0;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .advantages-road::after {
    display: none;
  }

  .advantages-road {
    padding: 0;
  }

  .advantages-road__title {
    font-size: 21px;
  }

  .advantages-road__subtitle {
    margin: 17px 0 0 0;
  }
}
.advantages-tourists {
  padding: 24px 0 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  text-align: center;
}

.advantages-tourists__container {
  max-width: 290px;
}

.advantages-tourists__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 11px 0;
  text-transform: uppercase;
}

.advantages-tourists__number {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.advantages-tourists__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 17px 0 0 0;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .advantages-tourists {
    padding: 0;
  }

  .advantages-tourists__title {
    font-size: 21px;
  }
}
.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .advantages-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .advantages-list__item {
    min-height: 256px;
    box-sizing: border-box;
  }
}
.advantages-city__description {
  padding: 70px 0 35px;
}

@media (min-width: 768px) {
  .advantages-city {
    grid-column: 1/4;
  }

  .advantages-city__description {
    padding: 0;
  }

  .advantages-city__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 256px auto;
  }

  .advantages-city__image {
    grid-column: 2/4;
  }
}
.find-hotel {
  font-family: "PT Sans";
  text-align: center;
  padding: 39px 0 49px;
}

.find-hotel__container {
  min-width: 284px;
  max-width: 498px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.find-hotel__title {
  margin: 0 0 28px 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.find-hotel__subtitle {
  margin: 0 0 32px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .find-hotel {
    padding: 61px 0 58px;
  }

  .find-hotel__title {
    font-size: 30px;
  }

  .find-hotel__subtitle {
    margin: 0 0 41px 0;
  }
}
@media (min-width: 1200px) {
  .find-hotel {
    padding: 61px 0 66px;
  }

  .find-hotel__subtitle {
    margin: 0 0 46px 0;
  }
}
.main-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0 85px;
  background-image: url("../../../img/main-page/header-back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.main-header__triangle {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
}

@media (min-width: 768px) {
  .main-header {
    background-position: center;
  }
}
.map {
  max-width: 100%;
}
.map img {
  display: block;
  min-width: 100%;
  object-fit: fill;
}

.main-button {
  display: block;
  width: 100%;
  max-width: 458px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #81b3d2;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 20px;
  border: none;
  box-sizing: border-box;
}
.main-button:hover {
  background-color: #669ec0;
}
.main-button:active {
  background-color: #5496bd;
  color: #ffffff4d;
}
.main-button:disabled {
  background-color: #e5e5e5;
}

/*-------------------Footer----------------*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 28px 0 33px;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 28px 45px 33px;
  }
}
.developers__link {
  display: flex;
  align-items: center;
  font-family: "PT Sans";
  color: inherit;
  text-decoration: none;
}

.developers__link:hover .developers__title {
  color: #81b3d2;
}

.developers__link:hover .developers__logo {
  fill: #81b3d2;
}

.developers__link:active .developers__title {
  color: #B3B3B3;
}

.developers__link:active .developers__logo {
  fill: #B3B3B3;
}

.developers__title {
  margin: 0 10px 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

.hash-tag {
  font-family: "PT Sans";
  margin: 0 0 33px 0;
}

.hash-tag__text {
  margin: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

@media (min-width: 768px) {
  .hash-tag {
    margin: 0;
  }
}
.social-facebook {
  margin: 0 6px 0 0;
}

.social-facebook__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}
.social-facebook__link:hover {
  background-color: #669ec0;
}
.social-facebook__link:active {
  background-color: #5496bd;
}

.social-facebook__icon {
  height: 20px;
}

.social-twitter {
  margin: 0 6px 0 0;
}

.social-twitter__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}
.social-twitter__link:hover {
  background-color: #669ec0;
}
.social-twitter__link:active {
  background-color: #5496bd;
}

.social-twitter__icon {
  height: 20px;
}

.social-youtube__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}
.social-youtube__link:hover {
  background-color: #669ec0;
}
.social-youtube__link:active {
  background-color: #5496bd;
}

.social-youtube__icon {
  height: 20px;
}

.social-list {
  display: flex;
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0;
}

@media (min-width: 768px) {
  .social-list {
    margin: 0;
  }
}
/*-*/
/*-----------------------Catalog main------------------*/
.main-catalog__header {
  position: relative;
  margin-bottom: 33px;
}

@media (min-width: 768px) {
  .main-catalog__header {
    margin-bottom: 65px;
  }
}
.catalog-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0 85px;
  background-image: url("../../img/main-page/header-back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.catalog-header {
  font-family: "PT Sans";
}

.catalog-header__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 35px 0;
}

.catalog-header__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

@media (min-width: 768px) {
  .catalog-header__title {
    font-size: 30px;
  }
}
.catalog-photos {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-photos__image {
  max-width: 100%;
}
.catalog-photos__image img {
  display: block;
  min-width: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .catalog-photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .catalog-photos__image:first-child {
    grid-column: 1/3;
  }
  .catalog-photos__image:first-child img {
    max-height: 400px;
    object-position: bottom;
  }

  .catalog-photos__image:last-child {
    grid-column: 1/3;
  }
}
@media (min-width: 1200px) {
  .catalog-photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .catalog-photos__image:first-child {
    grid-column: 1/4;
  }
  .catalog-photos__image:first-child img {
    max-height: 400px;
    object-position: bottom;
  }

  .catalog-photos__image:last-child {
    grid-column: 1/4;
  }
}
.photos-image {
  font-family: "PT Sans";
}

.photos-image__photo {
  margin: 0 0 15px 0;
}

.photos-image__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}

.photos-image__autor {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 0 0 16px 0;
}

.photos-image__likes {
  display: block;
  position: relative;
  padding-left: 36px;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  margin: 0 0 25px 0;
}
.photos-image__likes::before {
  display: block;
  content: "";
  position: absolute;
  width: 23px;
  height: 21px;
  background: url("../../img/catalog-page/like-icon.svg") no-repeat center;
  background-size: cover;
  left: 0;
  top: -4px;
}

@media (min-width: 768px) {
  .photos-image__description {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    padding: 22px 20px 15px 20px;
    background-color: #f2f2f2;
    box-sizing: border-box;
  }

  .photos-image__title {
    grid-column: 1/1;
    grid-row: 1/1;
  }

  .photos-image__autor {
    grid-column: 1/1;
    grid-row: 2/2;
    margin: 0;
  }

  .photos-image__likes {
    grid-column: 2/3;
    grid-row: 1/3;
    margin: auto;
    margin-right: 0;
  }

  .photos-image__photo {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .photos-image {
    position: relative;
  }

  .photos-image__description {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .photos-image__likes::before {
    background: url("../../img/catalog-page/like-icon-desctop.svg") no-repeat center;
  }
}
.catalog-video__header {
  max-width: 445px;
  margin: 0 auto;
}

.catalog-video__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.catalog-video__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 768px) {
  .catalog-video__title {
    margin: 0 0 35px 0;
    font-size: 30px;
  }

  .catalog-video {
    padding-top: 59px;
  }
}
.catalog-content__header {
  position: relative;
  padding: 0 0 58px 0;
  max-width: 458px;
  margin: 0 auto;
}
.catalog-content__header::before {
  position: absolute;
  display: block;
  content: "";
  height: 1px;
  width: 120%;
  background-color: #e5e5e5;
  top: 160px;
}

@media (min-width: 768px) {
  .catalog-content__header {
    padding-bottom: 87px;
  }
  .catalog-content__header::before {
    display: none;
  }
}
/*-*/
/*-----------------------Form main------------------*/
.form-header {
  font-family: "PT Sans";
  max-width: 450px;
  margin: 0 auto;
}

.form-header__container {
  position: relative;
  min-width: 284px;
  padding: 0 20px;
  box-sizing: border-box;
}
.form-header__container::before {
  position: absolute;
  display: block;
  content: "";
  height: 1px;
  width: 120%;
  background-color: #e5e5e5;
  top: 160px;
  left: -10%;
}

.form-header__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 35px 0;
}

.form-header__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

@media (min-width: 768px) {
  .form-header__container {
    padding: 0;
  }
  .form-header__container::before {
    display: none;
  }

  .form-header__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
  }
}
.form-top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0 85px;
  background-image: url("../../img/main-page/header-back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.form-input {
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  border: none;
  background-color: #f2f2f2;
  padding: 16px;
  margin: 0 0 16px 0;
}

.form-label {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0 0 0 15px;
}

.form-name {
  padding: 0;
}

.form-contacts {
  padding: 0;
}

.feedback-form__estimation {
  padding: 0;
}

.feedback-form__places {
  padding: 0;
}

.feedback-form__emotions {
  padding: 0;
}

.feedback-form__name {
  border: none;
}

@media (min-width: 768px) {
  .feedback-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .feedback-form__name {
    padding-right: 43px;
    border-right: 1px solid #dbdbdb;
  }

  .feedback-form__estimation {
    grid-column: 1/3;
  }

  .feedback-form__places {
    grid-column: 1/3;
  }

  .feedback-form__emotions {
    grid-column: 1/3;
  }

  .feedback-form__button {
    margin-left: 0;
  }
}
.form-contacts {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans";
  border: none;
  margin: 0;
}

.form-contacts__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

@media (min-width: 768px) {
  .form-contacts__title {
    font-size: 21px;
    margin-left: -40px;
  }

  .form-contacts {
    padding-left: 43px;
  }
}
.form-emotions {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans";
  border: none;
  margin: 24px 0 0 0;
}

.form-emotions__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.form-emotions__text {
  resize: none;
}

@media (min-width: 1200px) {
  .form-emotions__title {
    margin: 0 0 59px 0;
    font-size: 21px;
  }
}
.form-estimation {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans";
  border: none;
  margin: 24px 0 0 0;
}

.form-estimation__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.form-estimation__control-radio {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 16px 0;
}

.form-estimation__radio-style {
  position: relative;
  display: inline-block;
  content: "";
  background-color: #f2f2f2;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin: 0 16px 0 0;
}
.form-estimation__radio-style:hover {
  background-color: #e5e5e5;
}
.form-estimation__radio-style:active {
  background-color: #d5d5d5;
}

.form-estimation__radio-checked {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  background-color: #333333;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: -8px 0 0 -8px;
}

.form-estimation__radio-style:active .form-estimation__radio-checked {
  background-color: #3333334d;
}

.form-estimation__control-input:checked + .form-estimation__radio-style .form-estimation__radio-checked {
  display: block;
}

@media (min-width: 768px) {
  .form-estimation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .form-estimation__title {
    margin: 0 0 45px 0;
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .form-estimation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 73px;
  }
}
.form-name {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans";
  margin: 0;
}

.form-name__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

@media (min-width: 768px) {
  .form-name__title {
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .form-name {
    margin-bottom: 55px;
  }
}
.form-places {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans";
  border: none;
  margin: 24px 0 0 0;
}

.form-places__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.form-places__control-checkbox {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 16px 0;
}

.form-places__checkbox-style {
  position: relative;
  display: inline-block;
  content: "";
  background-color: #f2f2f2;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  margin: 0 16px 0 0;
}
.form-places__checkbox-style:hover {
  background-color: #e5e5e5;
}
.form-places__checkbox-style:active {
  background-color: #d5d5d5;
}

.form-places__checkbox-checked {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  background: url("../../img/form-page/tick.svg");
  width: 22px;
  height: 16px;
  border-radius: 50%;
  margin: -8px 0 0 -8px;
}

.form-places__control-input:checked + .form-places__checkbox-style .form-places__checkbox-checked {
  display: block;
}

@media (min-width: 768px) {
  .form-places {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .form-places {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 87px;
  }

  .form-places__title {
    margin: 0 0 59px 0;
    font-size: 21px;
  }
}
.form-input {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}
.form-input:hover {
  background-color: #e5e5e5;
}
.form-input:active, .form-input:focus {
  background-color: #ffffff;
  outline: 4px solid #e5e5e5;
}
.form-input::placeholder {
  color: #0000004d;
}

.main-form__header {
  margin-bottom: 36px;
}

@media (min-width: 768px) {
  .main-form__header {
    margin-bottom: 64px;
  }
}
.form-content__header {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .form-content__header {
    margin-bottom: 102px;
  }
}
/*# sourceMappingURL=style.css.map */