%mobile-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

%mobile-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

%image-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

%image-autor {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
