
.about__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 35px 0;
  text-align: center;
  text-transform: uppercase;
}

.about__subtitle {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}

.about__triangle {
  display: block;
  width: 100%;
  position: absolute;
  object-position: center;
}

.about__header {
  margin-bottom: 16px;
}

@media (min-width: $tablet-width) {
  .about__triangle {
    display: none;
  }

  .about__title {
    font-size: 21px;
  }

  .about__header {
    margin-bottom: 56px;
  }
}

@media (min-width: $desktop-width) {
  .about__header {
    margin-bottom: 45px;
  }
}


