.advantages-city__description {
  padding: 70px 0 35px;
}

@media (min-width: $tablet-width) {
  .advantages-city {
    grid-column: 1/4;
  }

  .advantages-city__description {
    padding: 0;
  }

  .advantages-city__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 256px auto;
  }

  .advantages-city__image {
    grid-column: 2/4;
  }
}

