.advantages-nature__description {
  padding: 39px 0 35px;
}

@media (min-width: $tablet-width) {
  .advantages-nature {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 256px;
    grid-column: 1/4;
  }

  .advantages-nature__description {
    padding: 0;
    grid-column: 2/3;
    grid-row: 1/1;
  }

  .advantages-nature__image {
    grid-column: 1/2;
    grid-row: 1/1;
  }
}
