.advantages-road {
  padding: 26px 0 0;
  background-color: #eeeeee;
  text-align: center;
}

.advantages-road__container {
  max-width: 315px;
  margin: 0 auto;
}

.advantages-road::after {
  content: "";
  display: block;
  height: 1px;
  width: 88.75%;
  margin: 0 auto;
  background-color: #d6d6d6;
}

.advantages-road__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 9px 0;
  text-transform: uppercase;
}

.advantages-road__number {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.advantages-road__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 17px 0 24px 0;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .advantages-road::after {
    display: none;
  }

  .advantages-road {
    padding-top: 42px;
  }

  .advantages-road__number {
    display: block;
    margin-bottom: 25px;
  }

  .advantages-road__title {
    font-size: 21px;
    max-width: 100px;
    margin: 0 auto 11px;
  }

  .advantages-road__subtitle {
    margin: 0 auto;
    max-width: 140px;
  }
}

@media (min-width: $desktop-width) {
  .advantages-road__subtitle {
    max-width: 290px;
  }
}
