.advantages-area {
  padding: 26px 0 0;
  background-color: #eeeeee;
  text-align: center;
}

.advantages-area__container {
  max-width: 315px;
  margin: 0 auto;
}

.advantages-area::after {
  content: '';
  display: block;
  height: 1px;
  width: 88.75%;
  margin: 0 auto;
  background-color: #d6d6d6;
}

.advantages-area__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 11px 0;
  text-transform: uppercase;
}

.advantages-area__number {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.advantages-area__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 17px 0 24px 0;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .advantages-area::after {
    display: none;
  }
  .advantages-area {
    padding-top: 42px;
  }

  .advantages-area__title {
    font-size: 21px;
    max-width: 140px;
    margin: 0 auto 10px;
  }

  .advantages-area__number {
    display: block;
    margin-bottom: 25px;
  }

  .advantages-area__subtitle {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .advantages-area__container {
    padding: 0;
  }
}