.find-hotel {
  font-family: 'PT Sans';
  text-align: center;
  padding: 39px 0 49px;
}

.find-hotel__container {
  min-width: 284px;
  max-width: 498px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.find-hotel__title {
  margin: 0 0 28px 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.find-hotel__subtitle {
  margin: 0 0 32px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

