.find-hotel {
  font-family: 'PT Sans';
  text-align: center;
  padding: 39px 0 49px;
}

.find-hotel__container {
  min-width: 284px;
  max-width: 498px;
  margin: 0 auto;
  padding: 0 18px;
  box-sizing: border-box;
}

.find-hotel__title {
  margin: 0 0 21px 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.find-hotel__subtitle {
  margin: 0 0 32px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width)  {
  .find-hotel {
    padding: 56px 0 58px;
  }

  .find-hotel__title {
    font-size: 30px;
    margin-bottom: 35px;
  }

  .find-hotel__subtitle {
    margin: 0 0 41px 0;
  }
}

@media (min-width: $desktop-width)  {
  .find-hotel {
    padding: 58px 0 66px;
  }
  .find-hotel__title {
    margin-bottom: 32px;
  }
  .find-hotel__subtitle {
    margin: 0 0 46px 0;
  }
}
