.main-button {
  display: block;
  width: 100%;
  max-width: 458px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #81b3d2;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 20px;
  border: none;
  box-sizing: border-box;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: #ffffff4d;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}
