.main-page__about {
  position: relative;
}

.main-page__header {
  margin-bottom: 32px;
}

@media (min-width: $tablet-width)  {
  .main-page__header {
    margin-bottom: 47px;
  }
}

@media (min-width: $desktop-width) {
  .main-page__header {
    margin-bottom: 59px;
  }
}
