.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0 85px;
  background-image: url('../../../img/main-page/header-back-mobile.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

@media (min-width: $tablet-width) {
  .main-header {
    background-position: center;
  }
}
