.main-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0 85px;
  background-image: url('../../../img/main-page/header-back-mobile.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.main-header__triangle {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
}

@media (min-width: $tablet-width) {
  .main-header__title {
    width: 460px;
    height: 350px;
  }
}

@media (min-resolution: 2dppx) {
  .main-header {
    background-image: url('../../../img/main-page/header-back-desktop.jpg');
    background-position: top;
  }
}
