.form-input {
  font-family: 'PT Sans';
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  border: none;
  background-color: #f2f2f2;
  padding: 16px;
  margin: 0 0 16px 0;
}

.form-label {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0 0 0 15px;
}

.form-name {
  padding: 0;
}

.form-contacts {
  padding: 0;
}

.feedback-form__estimation {
  padding: 0;
  margin: 0px 0px 30px 0px;
}

.feedback-form__places {
  padding: 0;
  margin: 0px 0px 35px 0px;
}

.feedback-form__emotions {
  margin-bottom: 40px;
  padding: 0;
}

.feedback-form__name {
  border: none;
  margin-bottom: 50px;
}
.feedback-form__contacts {
  margin-bottom: 45px;
}
.feedback-form__button {
  max-width: 324px;
}

.feedback-form__note {
  display: block;
  text-align: end;
  color: #33333399;
  font-size: 15px;
  line-height: 21px;
}

@media (min-width: $tablet-width) {
  .feedback-form {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .feedback-form__contacts {
    padding-left: 43px;
  }

  .feedback-form__name {
    padding-right: 43px;
    border-right: 1px solid #dbdbdb;
  }

  .feedback-form__estimation {
    grid-column: 1/3;
    margin-bottom: 50px;
  }

  .feedback-form__places {
    grid-column: 1/3;
    margin-bottom: 25px;
  }

  .feedback-form__emotions {
    grid-column: 1/3;
    margin-bottom: 35px;
  }

  .feedback-form__button {
    margin-left: 0;
    max-width: 384px;
  }
  .feedback-form__note {
    font-size: 18px;
    line-height: 21px;
    align-self: center;
  }
}

@media (min-width: $desktop-width) {
  .feedback-form__name {
    padding-right: 50px;
  }
  .feedback-form__contacts {
    padding-left: 50px;
  }
  .feedback-form__estimation {
    margin-bottom: 80px;
  }
  .feedback-form__emotions {
    margin-bottom: 45px;
  }
  .feedback-form__button  {
    margin-left: 95px;
  }
  .feedback-form__note {
    margin-right: 95px;
  }
}
