.form-contacts {
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans';
  border: none;
  margin: 24px 0 0 0;
}

.form-contacts__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

