.form-emotions {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans';
  border: none;
}

.form-emotions__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.form-emotions__text {
  min-height: 148px;
  resize: none;
}

@media (min-width: $tablet-width) {
  .form-emotions {
    &::before {
      position: absolute;
      display: block;
      content: '';
      height: 1px;
      width: 21.37%;
      background-color: #e5e5e5;
      top: -45px;
      left: 0;
    }

    &::after {
      position: absolute;
      display: block;
      content: '';
      height: 1px;
      width: 21.37%;
      background-color: #e5e5e5;
      top: -45px;
      right: 0;
    }
  }
  .form-emotions__title {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  .form-emotions__text {
    min-height: 158px;
    max-width: 768px;
    margin: 0 auto;
  }
  
}

@media (min-width: $desktop-width) {
  .form-emotions {
    &::before {
      width: 29.37%;
    }
    &::after {
      width: 29.37%;
    }
  }
  .form-emotions__title {
    margin: 0 0 30px 0;
  }
}