.form-input {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active,
  &:focus {
    background-color: #ffffff;
    outline: 4px solid #e5e5e5;
  }

  &::placeholder {
    color: #0000004d;
  }
}
