.form-top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 52px 0 67px;
  background-image: url("../img/main-page/header-back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-color: #afd1e7;
}

.form-top__triangle {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
}

@media (min-resolution: 2dppx) {
  .form-top {
    background-image: url("../img/main-page/header-back-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .form-top {
    background-image: url("../img/main-page/header-back-desktop.jpg");
    padding: 95px 0 117px;
  }

  .form-top__title {
    width: 456px;
  }
}

@media (min-width: $desktop-width) {
  .form-top {
    padding: 101px 0 120px;
  }

  .form-top__title {
    width: 459px;
  }
}
