.form-content__header {
  margin-bottom: 50px;
}
.form-content__feedback-form {
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .form-content__header {
    margin-bottom: 105px;
  }
}

@media (min-width: $desktop-width) {
  .form-content__header {
    margin-bottom: 70px;
  }
}