.form-contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", "Arial", sans-serif;
  border: none;

  &::before {
    position: absolute;
    display: block;
    content: "";
    height: 1px;
    width: 120%;
    background-color: #e5e5e5;
    bottom: -20px;
    left: -10%;
  }
}

.form-contacts__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.form-contacts__input-container {
  display: flex;
}

.form-contacts__icon {
  min-width: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
}

.phone-icon {
  width: 18px;
  height: 18px;
}

.mail-icon {
  width: 16px;
  height: 12px;
}

@media (min-width: $tablet-width) {
  .form-contacts::before {
    display: none;
  }

  .form-contacts__title {
    font-size: 21px;
    width: 100%;
    margin-bottom: 27px;
    margin-left: -22px;
  }
}
