.form-top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0 85px;
  background-image: url('../../img/main-page/header-back-mobile.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
