.form-contacts {
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans';
  border: none;
  margin: 0;
}

.form-contacts__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

@media (min-width: $tablet-width) {
  .form-contacts__title {
    font-size: 21px;
    margin-left: -40px;
  }

  .form-contacts  {
    padding-left: 43px;
  }
}

