.form-estimation {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans';
  border: none;

  &::before {
    position: absolute;
    display: block;
    content: '';
    height: 1px;
    width: 120%;
    background-color: #e5e5e5;
    bottom: -8px;
    left: -10%;
  }
}

.form-estimation__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.form-estimation__control-radio {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 16px 0;
}

.form-estimation__radio-style {
  position: relative;
  display: inline-block;
  content: '';
  background-color: #f2f2f2;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin: 0 16px 0 0;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
  }
}

.form-estimation__radio-checked {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  background-color: #333333;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: -8px 0 0 -8px;
}

.form-estimation__radio-style:active .form-estimation__radio-checked {
  background-color: #3333334d;
}

.form-estimation__control-input:checked+.form-estimation__radio-style .form-estimation__radio-checked {
  display: block;
}

@media (min-width: $tablet-width) {
  .form-estimation {
    width: 88.3%;
    margin: 0 auto 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &::before {
      position: absolute;
      display: block;
      content: '';
      height: 1px;
      width: 21.37%;
      background-color: #e5e5e5;
      top: -45px;
      left: -36px;
    }

    &::after {
      position: absolute;
      display: block;
      content: '';
      height: 1px;
      width: 21.37%;
      background-color: #e5e5e5;
      top: -45px;
      right: -36px;
    }
  }

  .form-estimation__title {
    margin: 0 0 28px 0;
    font-size: 21px;
  }

  .form-estimation__control-radio:nth-child(3) {
    padding-left: 10px;
  }
}

@media (min-width: $desktop-width) {
  .form-estimation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;

    &::before {
      top: -60px;
      left: -50px;
      width: 33%;
    }
    &::after {
      top: -60px;
      right: -50px;
      width: 33%;
    }
  }

  .form-estimation__title {
    margin-bottom: 45px;
  }
}