.form-header {
  font-family: 'PT Sans';
  padding: 33px 0 28px;
  max-width: 450px;
  margin: 0 auto;
}

.form-header__container {
  min-width: 284px;
  padding: 0 20px;
  box-sizing: border-box;
}

.form-header__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.form-header__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .form-header__container {
    padding: 0;
  }

  .form-header__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
  }
}
