.form-name {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;

  &::before {
    position: absolute;
    display: block;
    content: "";
    height: 1px;
    width: 120%;
    background-color: #e5e5e5;
    bottom: -25px;
    left: -10%;
  }
}

.form-name__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

@media (min-width: $tablet-width) {
  .form-name::before {
    display: none;
  }

  .form-name__title {
    font-size: 21px;
    width: 100%;
    margin-bottom: 27px;
    margin-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .form-name {
    margin-bottom: 55px;
  }
}
