.form-name {
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans';
  border-right: 1px solid #dbdbdb;
  margin: 24px 0 0 0;
}

.form-name__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

@media (min-width: $desktop-width) {
  .form-name {
    margin-bottom: 55px;
  }
}
