.form-emotions {
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans';
  border: none;
  margin: 24px 0 0 0;
}

.form-emotions__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.form-emotions__text {
  resize: none;
}

@media (min-width: $desktop-width) {
  .form-emotions__title {
    margin: 0 0 59px 0;
    font-size: 21px;
  }
}
