.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.modal-container__content {
  display: block;
  position: relative;
  margin: auto;
  max-width: 280px;
  padding: 45px 42px 35px;
  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 #00010126;
}


.modal-container--activ {
  display: flex;
}

.modal-window__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 0 25px 0;
}

.modal-window__subtitle {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 28px 0;
}

.modal-window__button {
  width: 180px;
  margin: 0 auto;
}


@media (min-width: $tablet-width) {
  .modal-container__content {
    padding: 45px 60px 50px;
  }

  .modal-window__title {
    max-width: 255px;
    margin: 0 auto 25px;
    font-size: 30px;
    line-height: 40px;
  }

  .modal-window__subtitle {
    margin-bottom: 50px;
  }

  .modal-window__button {
    width: 272px;
  }
}
