.modal-success-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.modal-success-container__content {
  display: block;
  position: relative;
  margin: auto;
  max-width: 640px;
  background-color: #fff;
  box-shadow: 0px 7px 15px 0px #00010126;
}


.modal-success-container--activ {
  display: flex;
}

.modal-success-window {}

.modal-success-window__content {
  padding: 39px 39px 55px;
}

.modal-success-window__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0px 0px 25px 0px;
}

.modal-success-window__subtitle {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  margin: 0px;
}

.modal-success-window__button-container {
  padding: 20px;
  background-color: #F2F2F2;
}

.modal-success-window__button {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .modal-success-container__content {
    width: 640px;
  }
  .modal-success-window__title  {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .modal-success-window__content {
    padding: 45px 0 57px;
    max-width: 440px;
    margin: 0 auto;
  }
  .modal-success-window__button {
    width: 458px;
  }
  .modal-success-window__button-container {
    padding: 44px;
  }
}

